@media screen and (max-width: 1279px) {
  :root {
    --width: 90%;
  }
  .taskimage, .try{
    width: 100%;
    max-width: 100%;
  }
  .taskimage.shrinked {
    max-width: 40%;
  }
  .game, .tries {
    min-width: var(--width);
    max-width: var(--width);
    width: var(--width);
  }
  .header {
    width: var(--width);
  }
  .popup, .popup * {
    max-width: var(--width) !important;
    min-width: 0% !important;
  }
}
