{
  "db": {
    "user": "birdle",
    "password": "birdle",
    "host": "localhost",
    "port": 5432,
    "database": "birdle"
  },
  "public_paths": {
    "public": "/public",
    "images": "/images/tasks"
  },
  "images": {
    "ext": ".jpg"
  },
  "session_secret" : "hunter2"
}

