doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token',content=_csrf)
    title(data-text = 'title')= title
    script(src='/js/ajax.js')
    script(src='/js/ui.js')
    script(src='/js/public/game.js')
    script(src='/js/public/ws.js')
    script(src='/js/main.js')
    script(src='/js/public/taxonomy.js')
    if (page == "crossword")
      script(type='module', src='/js/public/index_crossword.js')
      link(rel = 'stylesheet' type = 'text/css' href = '/css/crossword.css')
      link(rel = 'stylesheet' type = 'text/css' href = '/css/crossword_mobile.css')
    else
      script(src='/js/public/index.js')
    link(rel = 'stylesheet' type = 'text/css' href = '/css/public.css')
    link(rel = 'stylesheet' type = 'text/css' href = '/css/mobile.css')
    link(rel = 'stylesheet' type = 'text/css' href = '/css/taxonomy.css')
  body
    block nav
    block public
