extends public

block public

  h2 Taxonomy
  div(class = 'taxonomy')
    div(class = 'taxonomy_column')
      each order in orders
        div
          input(type='checkbox', data-id=order.id, id='order_'+order.id)
          label(for='order_'+order.id)
            =order.name_lv
    div(class = 'taxonomy_column')
      each order in orders
        each family in order.families
          div
            input(type='checkbox', data-id=family.id, id='family_'+family.id)
            label(for='family_'+family.id)
              =family.name_lv
    div(class = 'taxonomy_column')
      each order in orders
        each family in order.families
          each genus in family.geni
            div
              input(type='checkbox', data-id=genus.id, id='genus_'+genus.id)
              label(for='genus_'+genus.id)
                =genus.name_lv
    div(class = 'taxonomy_column')
      each order in orders
        each family in order.families
          each genus in family.geni
            each spec in genus.species
              div(id = 'species_'+spec.id)
                =spec.name_lv
  div
